<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "main/tufte.css" %}">
</head>

<body>
    <article>
        <section>
            <h1 id="figures">Bailey Wickham</h1>
            <br>
            <p><label for="mn-figure-1" class="margin-toggle">&#8853;</label><input type="checkbox" id="mn-figure-1" class="margin-toggle"/><span class="marginnote"><button class="button">Resume</button><br></p>

            <p><label for="mn-figure-1" class="margin-toggle">&#8853;</label><input type="checkbox" id="mn-figure-1" class="margin-toggle"/><span class="marginnote"><img src="{% static 'main/img/b.jpg' %}" alt="Me"/>
                Yep that man is me, at my high school graduation!
            </p>
            <h2>About</h2>

            <p>That guy on the right, yeah that's me. I am Bailey Wickham, a programmer and a student at Cal Poly majoring in Software Engineering and minoring in Math and Chinese. I love space, running, art, longboarding, music, skiing, programming and traveling.</p>

            <button class="button">Resume</button>

            <p>Thanks to tufte.css for the open source css framework that makes this site possible.</p>



        </section>
    </article>
</body>
