<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "main/tufte.css" %}">
</head>

<body>
    <article>
        <section>
            <h1 id="figures">Bailey Wickham</h1>
            <br>

            <p><label for="mn-figure-1" class="margin-toggle">&#8853;</label><input type="checkbox" id="mn-figure-1" class="margin-toggle"/><span class="marginnote"><img src="{% static 'main/img/b.jpg' %}" alt="Me"/>
                I still can't beleive I graduated high school. 
            </p>
            <h2>About</h2>

            <p>That guy on the right, yeah that's me. I am Bailey Wickham, a programmer and a student at Cal Poly majoring in Software Engineering and Math, minoring in Chinese. I love space, running, art,  music, skiing, programming and traveling. Along with classes, I am working on software for Polysat, Cal Poly's cube satelite lab.</p>
            <p>This site is built on top of a Dockerized Django and Nginx instance, all behind a Nginx reverse proxy. Overly complicated, yes, but it was still fun to make. The source code is availble <a href="https://github.com/baileywickham/djangoProject">here</a>, including the deploy scripts. 
        </section>
    </article>
</body>
